<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.house.mapper.HousePictureMapper">
    <select id="" resultType="com.example.house.domain.HousePicture">
        select * from house_picture where house_id = #{id}
    </select>
    <insert id="save" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        insert into house_picture(house_id, cdn_prefix, width, height, location, path)
        values <foreach collection="housePictures" item="housePicture" separator=", ">
        (#{houseId},#{cdnPrefix},#{width},#{height},#{location},#{path})
    </foreach>
    </insert>
</mapper>