<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.house.mapper.HouseDetailMapper">
    <select id="findByHouseId" resultType="com.example.house.domain.HouseDetail">
        select * from house_detail where house_id = #{houseId}
    </select>

    <select id="findAllByHouseIdIn" resultType="com.example.house.domain.HouseDetail">
        select * from house_detail where  house_id in
        <foreach item="id"  collection="houseIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <insert id="save" parameterType="com.example.house.domain.HouseDetail" useGeneratedKeys="true">
        insert into house_detail(description, layout_desc, traffic, round_service, rent_way, address, subway_line_id, subway_line_name, subway_station_id, subway_station_name, house_id)
        VALUES (#{description}, #{layoutDesc}, #{traffic}, #{roundService}, #{rentWay}, #{address}, #{subwayLineId}, #{subwayLineName}, #{subwayStationId}, #{subwayStationName}, #{houseId})
    </insert>
</mapper>