<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.house.mapper.HouseTagMapper">
    <resultMap id="houseTagResultMap" type="com.example.house.domain.HouseTag">
        <id column="id" property="id"/>
        <result column="name" property="name" />
        <result column="house_id" property="houseId"/>
    </resultMap>
    <select id="findByNameAndHouseId" resultMap="houseTagResultMap">
        select * from house_tag where house_id=#{houseId} and name = ${name}
    </select>
    <select id="findAllByHouseId" resultMap="houseTagResultMap">
        select * from house_tag where id=#{id}
    </select>
    <select id="findAllByHouseIdIn" resultMap="houseTagResultMap">
        select * from house_tag where id in
        <foreach item="id"  collection="houseIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into house_tag (house_id, name) values
        <foreach collection="houseTags" item="houseTag" separator=", ">
            (#{houseTag.houseId}, #{houseTag.name})
        </foreach>
    </insert>
    <delete id="delete">
        delete from house_tag where id=#{id}
    </delete>
</mapper>