<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.house.mapper.SupportAddressMapper">
    <select id="findAllByLevel" resultType="com.example.house.domain.SupportAddress">
        select * from support_address where level = #{level}
    </select>

    <select id="findByEnNameAndLevel" resultType="com.example.house.domain.SupportAddress">
        select * from support_address where en_name=#{enName} and level=#{level}
    </select>

    <select id="findByEnNameAndBelongTo" resultType="com.example.house.domain.SupportAddress">
        select * from support_address where en_name=#{enName} and belong_to=#{belongTo}
    </select>

    <select id="findAllByLevelAndBelongTo" resultType="com.example.house.domain.SupportAddress">
        select * from support_address where level=#{level} and belong_to=#{belongTo}
    </select>

</mapper>